#git {
	text-decoration: underline;
}

.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
}

.nav-tabs, .nav-pills {
  text-align: center;
}

a {
  color: #000;
}

a:hover {
  color: #999;
  text-decoration: underline;
}

footer {
  padding-top: 2em;
  margin-bottom: 2em;
  border-top: 1px #D1D1D1 solid;
}

#diversions {
  margin-bottom: 2em;
}

.desc h5 {
  margin-bottom: 0;
  margin-top: 5px;
  color: #999;
}

.job-desc {
  margin-top: 10px;
}

.container {
  margin-top: 10px;
}

.fa-ul li {
  padding-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
}

h1 small {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.4;
}
